 <header class= "bg-white flex justify-between items-center fixed top-0 w-full z-[2]">
       <!--Bloque -->
       <nav class="bg-containerbackground pt-4 pb-4 flex justify-center items-center w-full mt-0 absolute top-0 left-0">
            <!--Elemento-->
            <ul class="flex list-none">
               <li class="nav-item">
                  <a href="index.html"><i class="fa-solid fa-chess-king"></i>Inicio</a>
               </li>
               <li class="nav-item">
                  <a href="interior1.html"><i class="fa-solid fa-chess"></i>Miembros</a>
               </li>
               <!-- <li class="nav-item">
                  <a  href=""><i class="fa-solid fa-chess-knight"></i>Información</a>
               </li>
               <li class="nav-item">
                  <a  href=""><i class="fa-solid fa-chess-pawn"></i>Carrusel</a>
               </li> -->
            </ul>
         </nav>
      </header>